.header h1 {
  text-align: center;
  font-size: 50px;
  margin: 25px;
  user-select: none;
}

.header h1:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-shadow: 0 0 1px var(--allWhite);
}

.header h1:active {
  transform: scale(0.95);
  text-shadow: 0 0 10px var(--allWhite);
}