.skinSelector {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  text-align: center;
}

.skinSelector label {
  font-size: 1.2rem;
  color: var(--text-color);
}

.colorPreview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--aqua);
  box-shadow: 0 0 10px var(--aqua);
  transition: background-color 0.3s ease;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 60%;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(to right, #f1d6b8 0%, #c68642 50%, #5c4033 100%);
  outline: none;
  cursor: pointer;
  margin-top: 0.4rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--aqua);
    border: 2px solid var(--allWhite);
    box-shadow: 0 2px 4px color-mix(in srgb, var(--allWhite) 30%, transparent);
    transition: 0.2s;
  }

  &::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--aqua);
    border: 2px solid var(--allWhite);
    box-shadow: 0 2px 4px color-mix(in srgb, var(--allWhite) 30%, transparent);
    transition: 0.2s;
  }

  &::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px var(--allWhite);
    transition: 0.1s;
  }

  &::-moz-range-thumb:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px var(--allWhite);
    transition: 0.1s;
  }
}

.labels {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.label {
  font-size: 0.8rem;
  color: var(--text-color);
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.activeLabel {
  font-weight: 600;
  transform: scale(1.1);
}