.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  flex-grow: 1;
  gap: 2rem;
  margin-top: 2rem;

  @media (min-width: 600px) {
    max-width: 500px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  & button {
    background: linear-gradient(
      90deg,
      var(--color-primary),
      var(--color-secondary)
    );
    border: none;
    border-radius: 12px;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    width: 100%;
    cursor: pointer;
    transition:
      transform 0.5s ease,
      text-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      text-shadow: 0 0 2px var(--text-light);
    }

    &:active {
      transform: scale(0.97);
      text-shadow: 0 0 10px var(--text-primary);
    }

    @media (min-width: 600px) {
      font-size: 1.1rem;
    }
  }
}

.footer {
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.version {
  background-color: var(--bg-card);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}

.playerNameInput {
  @media (min-width: 600px) {
    max-width: 320px;
  }
}
