.startGameButton {
  width: 100%;
  margin: 0.8rem 0;
  padding: 1rem;
  border-radius: 12px;
  background: var(--secondary-gradient);
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
  box-sizing: border-box;

  &:hover {
    text-shadow: 0 0 2px var(--text-color);
    transform: scale(1.05);
  }
}
