.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-gradient);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1.5rem;

  & main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
    gap: 2rem;
    margin-top: 2rem;

    @media (min-width: 600px) {
      max-width: 500px;
    }

    & section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      & button {
        width: 100%;
        padding: 0.9rem 1.2rem;
        border-radius: 0.75rem;
        background: var(--secondary-gradient);
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
          transform: scale(1.05);
          text-shadow: 0 0 1px var(--text-color);
        }

        &:active {
          transform: scale(0.95);
          text-shadow: 0 0 10px var(--text-color);
        }
      }
    }
  }

  & footer {
    color: var(--text-secondary);
    font-size: 0.8rem;

    & p {
      background-color: var(--primary-color);
      padding: 0.3rem 0.6rem;
      border-radius: 6px;
    }
  }
}
