.difficultyContainer {
  text-align: center;
  margin-top: 15px;
}

.difficultyContainer label {
  font-size: 1.2rem;
  color: #cbd5e1;
}

.rangeInput {
  appearance: none;
  margin: 15px 0;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, #f1f5f9, #0f172a);
  outline: none;
  cursor: not-allowed;
}

.rangeInput::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #38bdf8;
  border-radius: 50%;
  border: 2px solid white;
}

.gamemodeText {
  font-weight: 500;
  color: white;
}
