.body {
  background-color: rgba(19, 39, 39, 10%);
  text-align: center;
}

.header {
  padding: 25px;
  background-color: aqua;
  color: black;
}

.playerName {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.singleStat {
  display: inline-block;
  margin: 15px;
  text-align: left;
  font-size: 25px;
  font-family: sans-serif;
}

.textMessage {
  font-size: 30px;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}


/*.cardChoices:hover {
  cursor: pointer;
  transform: scale(1.1);
}*/
.singleStatSpan {
  display: inline-block;
}

@keyframes blink {

  0%,
  100% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}