:root {
  --allWhite: #ffffff;
  --fullBlack: #000000;
  --black: #0f172a;
  --lightBlack: #1e293b;
  --blue: #667eea;
  --aqua: #06b6d4;
  --red: #ff0004;
  --lightGray: #e2e8f0;
  --gray: #94a3b8;
  --mediumGray: #64748b;
  --darkGray: #334155;
}

[data-theme="light"] {
  --primary-color: var(--lightGray);
  --secondary-color: var(--gray);

  --primary-gradient: linear-gradient(135deg,
      var(--lightGray) 0%,
      var(--allWhite) 100%);
  --secondary-gradient: linear-gradient(135deg,
      var(--mediumGray) 0%,
      var(--lightGray) 100%);

  --text-color: var(--black);

}

[data-theme="dark"] {
  --primary-color: var(--lightBlack) 40%;
  --secondary-color: var(--fullBlack);

  --primary-gradient: linear-gradient(135deg,
      var(--black) 0%,
      var(--lightBlack) 100%);
  --secondary-gradient: linear-gradient(135deg,
      var(--blue) 0%,
      var(--aqua) 100%);

  --text-color: var(--allWhite);

}

* {
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
}
