.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-gradient);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  flex-grow: 1;
  gap: 2rem;
  margin-top: 2rem;

  @media (min-width: 600px) {
    max-width: 500px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  & button {
    background: var(--secondary-gradient);
    border: none;
    border-radius: 12px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    cursor: pointer;
    transition: transform 0.5s, text-shadow 0.5s;

    &:hover {
      transform: scale(1.05);
      text-shadow: 0 0 2px var(--text-color);
    }

    &:active {
      transform: scale(0.97);
      text-shadow: 0 0 10px var(--text-color);
    }

    @media (min-width: 600px) {
      font-size: 1.1rem;
    }
  }
}

.footer {
  font-size: 0.8rem;
}

.version {
  background-color: var(--primary-color);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}
